/*
- Mobile: 375px
- Desktop: 1440px
> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

// <weight>: Use a value from 300 to 900
*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

// Variables
$Purple600: hsl(246, 80%, 60%);
$Orange300-work: hsl(15, 100%, 70%);
$Blue300-play: hsl(195, 74%, 62%);
$Pink400-study: hsl(348, 100%, 68%);
$Green400-exercise: hsl(145, 58%, 55%);
$Purple700-social: hsl(264, 64%, 52%);
$Yellow300-self-care: hsl(43, 84%, 65%);
// Variables
$Navy950: hsl(226, 43%, 10%);
$Navy900: hsl(235, 46%, 20%);
$Purple500: hsl(235, 45%, 61%);
$Navy200: hsl(236, 100%, 87%);

// Mixins
@mixin fontTheme($weight: 400, $size: 12px, $alignment: center) {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-size: $size;
  text-align: $alignment;
}

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: $Navy950;
}
