@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

// Variables
$Purple600: hsl(246, 80%, 60%);
$Orange300-work: hsl(15, 100%, 70%);
$Blue300-play: hsl(195, 74%, 62%);
$Pink400-study: hsl(348, 100%, 68%);
$Green400-exercise: hsl(145, 58%, 55%);
$Purple700-social: hsl(264, 64%, 52%);
$Yellow300-self-care: hsl(43, 84%, 65%);
// Variables
$Navy950: hsl(226, 43%, 10%);
$Navy900: hsl(235, 46%, 20%);
$Purple500: hsl(235, 45%, 61%);
$Navy200: hsl(236, 100%, 87%);

// Mixins
@mixin fontTheme($weight: 400, $size: 12px, $alignment: center) {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-size: $size;
  text-align: $alignment;
}

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: $Navy950;
}

main {
  @extend %flex;
  flex-direction: column;
}

/* card */
.panel_control {
  height: 250px;
  width: 350px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
}

.perfil {
  height: 60%;
  background: $Purple600;

  @extend %flex;
  color: $Navy200;
  border-radius: 20px;
  z-index: 10;
}

.period {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 40%;
  background: $Navy900;
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
}

.period_selection {
  margin-top: 35px;
  @include fontTheme($weight: 400, $size: 22px, $alignment: center);

  color: $Purple500;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
  }

  height: fit-content;
  padding: 10px;
  position: relative;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.period_selection::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.period_selection.active::after {
  width: 100%;
}
.period_selection.active {
  color: white;
}
.period_selection:focus {
  outline: none;
  font-weight: bold;
}

/* card */
.img_container {
  flex: 1;
  @extend %flex;
}

.perfil_img {
  height: 85px;
  border: 3px solid white;
  border-radius: 50%;
}

.perfil_info {
  flex: 2;
}

.report {
  @include fontTheme($weight: 400, $size: 14px, $alignment: left);
  margin-bottom: 5px;
}

.name {
  @include fontTheme($weight: 400, $size: 24px, $alignment: left);
}

.card_container {
  @extend %flex;
  flex-direction: column;
  gap: 25px;
}

.track {
  height: 250px;
  width: 350px;
  position: relative;
}

.card_img {
  height: 30%;
  border-radius: 20px;
  display: flex;
  justify-content: right;
}

.icon {
  margin-right: 20px;
  max-width: 100px;
  height: auto;
  object-fit: contain;
}

.card {
  height: 70%;
  width: 100%;

  background: $Navy900;
  border-radius: 20px;
  position: absolute;
  transition: 0.3s;

  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  @extend %flex;
}

.previous,
.current {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.previous {
  width: 50%;
  align-items: end;
}
.current {
  width: 50%;
  align-items: start;
}

#work {
  background: $Orange300-work;
}
#play {
  background: $Blue300-play;
}
#study {
  background: $Pink400-study;
}
#exercise {
  background: $Green400-exercise;
}
#social {
  background: $Purple700-social;
}
#self_care {
  background: $Yellow300-self-care;
}

.ellipsis {
  height: auto;
  width: 50px;
  margin-right: 15px;

  &:hover {
    cursor: pointer;
  }
}

.title {
  @include fontTheme($weight: 500, $size: 22px, $alignment: left);
  color: white;
  margin-left: 25px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.current_period {
  @include fontTheme($weight: 400, $size: 32px, $alignment: left);
  color: white;
  margin-left: 25px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.row {
  display: none;
}
.previous_period {
  @include fontTheme($weight: 400, $size: 16px, $alignment: right);

  margin-right: 15px;
  color: $Purple500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    height: 100vh;
    gap: 15px;
  }

  .panel_control {
    width: 190px;
    height: 80%;
  }

  .perfil {
    flex-direction: column;
    align-items: start;
  }

  .perfil_img {
    height: 75px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 25px;
  }

  .report {
    @include fontTheme($weight: 400, $size: 14px, $alignment: left);
    margin-left: 25px;
  }

  .name {
    @include fontTheme($weight: 300, $size: 32px, $alignment: left);
    margin-left: 25px;
    color: white;
  }

  .period {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
  }

  .period_selection {
    @include fontTheme($weight: 400, $size: 16px, $alignment: center);
    width: fit-content;
    margin-top: 15px;
    margin-left: 25px;
    padding: 0px;
  }

  .card_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 15px;
  }

  .track {
    height: 160px;
    width: 160px;
  }

  .card {
    height: 80%;
    top: 60%;
  }

  .card_img {
    border-radius: 10px;
  }

  .title {
    @include fontTheme($weight: 500, $size: 16px, $alignment: left);
    color: white;
    margin-left: 15px;
  }

  .ellipsis {
    height: auto;
    width: 20px;
    margin-top: 15px;
  }

  .current_period {
    @include fontTheme($weight: 400, $size: 18px, $alignment: left);
    color: white;
    margin-left: 15px;
  }

  .previous_period {
    @include fontTheme($weight: 400, $size: 12px, $alignment: right);
    margin-left: 15px;
  }

  .column {
    display: none;
  }

  .row {
    display: flex;
  }

  .current {
    width: 80%;
  }

  .previous {
    width: 20%;
    justify-content: start;
  }
}

@media screen and (min-width: 992px) {
  .panel_control {
    width: 225px;
    height: 550px;
  }

  .period_selection {
    margin-top: 10px;
  }

  .track {
    height: 250px;
    width: 250px;
  }

  .title {
    font-size: 24px;
  }

  .current_period {
    font-size: 42px;
  }

  .previous_period {
    font-size: 16px;
  }

  .current {
    width: 70%;
  }

  .previous {
    width: 30%;
  }
}
