@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);

$veryDarkBlue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45%);
$gayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

@mixin fontTheme($weight: 400, $size: 12px, $alignment: center) {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-size: $size;
  text-align: $alignment;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include fontTheme(400, 16px);

  position: relative;
}

header {
  width: 100%;
}

main {
  margin-bottom: 30px;
}

nav {
  height: 100px;
  display: flex;
}
/* */
.nav_section {
  display: flex;
  gap: 15px;
  align-items: center;
}

.menu_section {
  width: 70%;
  justify-content: left;
}

.cart_section {
  width: 30%;
  justify-content: right;
}
/* */

.menu_icon {
  margin-left: 15px;
  height: 25px;

  &:hover {
    cursor: pointer;
  }
}

.close_icon {
  height: 35px;

  &:hover {
    cursor: pointer;
  }
}

.brand_logo {
  height: 25px;
}

.icon_cart {
  height: 35px;
}

.shopping_cart {
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.items_in_cart {
  position: absolute;
  top: -10px;
  right: -10px;

  border-radius: 10px;
  width: 35px;

  background: $orange;
  color: $white;
  font-weight: 600;

  display: none;
}

.show_items_in_cart {
  display: block;
}

.avatar {
  height: 40px;
  margin-right: 15px;
}

/* slider */
.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow_container {
  max-width: 400px;

  position: relative;
  margin: auto;
}

.product_img {
  width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;

  top: 50%;
  margin-top: -22px;
  width: 50px;
  height: 50px;

  user-select: none;

  background: $white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.6s ease;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* Fading animation */
.fade {
  animation: fadeIn 0.8s ease-in-out both;
}

@keyframes fadeIn {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next {
    font-size: 11px;
  }
}

/* info section */
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 400px;
}
.title,
.heading,
.shoe_info,
.price_container,
.counter,
button {
  width: 90%;
}

.title {
  color: $darkGrayishBlue;
  font-weight: 600;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.heading {
  text-align: left;
  color: $black;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 15px;
}

.shoe_info {
  text-align: left;
  line-height: 25px;
  color: $darkGrayishBlue;
  margin-bottom: 15px;
}

/* */
.price_container {
  display: flex;
  height: 80px;
}

.price_child_one,
.price_child_two {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.price_child_one {
  width: 60%;
}
.price_child_two {
  width: 40%;
}

.current_price {
  color: $black;
  font-weight: 600;
  font-size: 32px;
}

.discount {
  font-weight: 600;
  color: $white;
  background: $black;

  border-radius: 10px;
  width: 75px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.price_child_two {
  color: $darkGrayishBlue;
  text-decoration: line-through;
  font-weight: 600;
}

.counter {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $lightGrayishBlue;

  margin-bottom: 15px;
  border-radius: 15px;
  font-size: 24px;
  font-weight: 600;
}

/* */
.decrease,
.increase {
  padding: 15px;
  height: auto;

  &:hover {
    cursor: pointer;
  }
}

button {
  border: none;
  border-radius: 15px;
  height: 75px;

  background: $orange;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-weight: 600;
    font-size: 18px;
    color: $black;
  }

  &:hover {
    cursor: pointer;
  }
}

.addToCartButton {
  gap: 15px;
  margin-bottom: 15px;
}

.topnav {
  background: $white;
  display: flex;
}

.topnav a {
  color: $black;
  font-weight: 600;
  font-size: 16px;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav .icon {
  display: none;
}

.topnav .close_icon {
  display: none;
}

.topnav a:hover {
  background: $gayishBlue;
}

/* */
.cart_popup {
  background: $white;
  height: 290px;
  width: 390px;

  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 150px;

  flex-direction: column;

  opacity: 0;
  display: none;
  transition: opacity 0.5s ease, display 0.5s ease;

  /* */
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Visible state */
.show {
  opacity: 1;
  display: flex;
}

.cart_notification {
  height: 20%;
  text-align: left;
  border-bottom: 1px solid $darkGrayishBlue;

  p {
    margin-top: 10px;
    margin-left: 20px;
  }
}

.cart_body {
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* */
.cart_body_p {
  color: $darkGrayishBlue;
  display: flex;
}

.cart_oder {
  height: 100%;
  width: 100%;

  display: none;
  flex-direction: column;
}

.checkout_order {
  height: 60%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* add class */
.show_popup {
  display: flex;
}

/*  hide */
.hide_popup {
  display: none;
}

.product_cart_img {
  height: 60px;
  width: 60px;
  border-radius: 5px;
}

.paragraph_cart {
  margin-left: 5px;
}

.fall_limited,
.quantity_total {
  color: $darkGrayishBlue;
  font-weight: 500;
}

.totalUSD {
  color: $black;
}

.order_popup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete_icon {
  height: 40px;
  width: 30px;

  &:hover {
    cursor: pointer;
  }
}

.checkout_button {
  height: 40%;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .topnav a {
    display: none;
  }

  .topnav img.icon {
    //float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity  */
  }

  .topnav.responsive {
    position: absolute;
    top: 0;

    z-index: 1;
    width: 60%;
    height: 100%;

    flex-direction: column;

    animation: slide-in-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .topnav.responsive .icon {
    display: none;
  }

  .topnav.responsive .close_icon {
    display: block;

    position: absolute;

    top: 30px;
    left: 15px;
  }

  .topnav.responsive a {
    display: flex;

    text-align: left;
  }

  .collections {
    margin-top: 100px;
  }
}

/* */

@media screen and (min-width: 600px) {
  .menu_section {
    flex-direction: row-reverse;
  }
  .brand_logo {
    margin-left: 25px;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
