@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* 
.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens. 
*/
body {
  background: hsl(230, 17%, 14%);
  transition: background-color 0.3s, color 0.3s;
  /* */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading_tittle {
  width: 350px; /* */
  margin-bottom: 20px;
}

/* itemsToChange */
.dark_mode {
  background: hsl(0, 0%, 100%);
  color: hsl(230, 17%, 14%);
}

.light_button {
  background: hsl(0, 0%, 100%);
}

.dark_mode .tittle {
  color: hsl(230, 17%, 14%);
}

.dark_mode .card {
  background-color: hsl(227, 47%, 96%);
}

.dark_mode .followers {
  color: hsl(230, 17%, 14%);
}

.dark_mode .default {
  color: hsl(163, 72%, 41%);
}

.dark_mode .followers_tittle {
  color: hsl(228, 12%, 44%);
}

/* itemsToChange */
.tittle {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.total_followers {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: hsl(228, 34%, 66%);
}

.line_break {
  width: 100%;
  height: 1px;
  background-color: hsl(228, 12%, 44%);
  margin-bottom: 20px;
}

.dark_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.mode_text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: hsl(228, 34%, 66%);
}

/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 15px;
  bottom: 4px;
  background-color: hsl(232, 19%, 15%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* switch end */
.card {
  background-color: hsl(228, 28%, 20%);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  margin-bottom: 15px;
}

.banner {
  height: 2%;
  border-radius: 15px 15px 0 0;
}

.facebook {
  background: hsl(208, 92%, 53%);
}

.twitter {
  background: hsl(203, 89%, 53%);
}

.instagram {
  background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

.youTube {
  background: hsl(348, 97%, 39%);
}

.increase_color {
  color: hsl(163, 72%, 41%);
}

.decrease_color {
  color: hsl(356, 69%, 56%);
}

.content {
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user {
  color: hsl(228, 34%, 66%);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.followers {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 64px;
  text-align: center;
}

.followers_tittle {
  color: hsl(228, 34%, 66%);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 10px;
  margin-bottom: 25px;
}

.stats_container {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.stats_container img {
  width: auto;
}

.icon_container,
.followers {
  margin-bottom: 20px;
}

.icon_container,
.stats_container {
  display: flex;
  gap: 10px;
}

/*# sourceMappingURL=styles.css.map */
