@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  position: relative;
}

header {
  width: 100%;
}

main {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 400px;
}

nav {
  height: 100px;
  display: flex;
}

/* */
.nav_section {
  display: flex;
  gap: 15px;
  align-items: center;
}

.menu_section {
  width: 70%;
  justify-content: left;
}

.cart_section {
  width: 30%;
  justify-content: right;
}

/* */
.menu_icon {
  margin-left: 15px;
  height: 25px;
}
.menu_icon:hover {
  cursor: pointer;
}

.close_icon {
  height: 35px;
}
.close_icon:hover {
  cursor: pointer;
}

.brand_logo {
  height: 25px;
}

.icon_cart {
  height: 35px;
}

.shopping_cart {
  position: relative;
}
.shopping_cart:hover {
  cursor: pointer;
}

.items_in_cart {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 10px;
  width: 35px;
  background: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  display: none;
}

.show_items_in_cart {
  display: block;
}

.avatar {
  height: 40px;
  margin-right: 15px;
}

/* slider */
.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow_container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

.product_img {
  width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  width: 50px;
  height: 50px;
  user-select: none;
  background: hsl(0, 0%, 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s ease;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* Fading animation */
.fade {
  animation: fadeIn 0.8s ease-in-out both;
}

@keyframes fadeIn {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next {
    font-size: 11px;
  }
}
/* info section */
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

/* prbtns */
.price_buttons {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title,
.heading,
.shoe_info,
.price_container,
.counter,
button {
  width: 90%;
}

.title {
  color: hsl(219, 9%, 45%);
  font-weight: 600;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.heading {
  text-align: left;
  color: hsl(0, 0%, 0%);
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 15px;
}

.shoe_info {
  text-align: left;
  line-height: 25px;
  color: hsl(219, 9%, 45%);
  margin-bottom: 15px;
}

/* */
.price_container {
  display: flex;
  height: 80px;
}

.price_child_one,
.price_child_two {
  display: flex;
  align-items: center;
}

.price_child_one {
  justify-content: space-around;
  width: 60%;
}

.price_child_two {
  justify-content: center;
  width: 40%;
}

.current_price {
  color: hsl(0, 0%, 0%);
  font-weight: 600;
  font-size: 32px;
}

.discount {
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  background: hsl(0, 0%, 0%);
  border-radius: 10px;
  width: 75px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price_child_two {
  color: hsl(219, 9%, 45%);
  text-decoration: line-through;
  font-weight: 600;
}

.counter {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: hsl(223, 64%, 98%);
  margin-bottom: 15px;
  border-radius: 15px;
  font-size: 24px;
  font-weight: 600;
}

/* */
.decrease,
.increase {
  padding: 15px;
  height: auto;
}
.decrease:hover,
.increase:hover {
  cursor: pointer;
}

button {
  border: none;
  border-radius: 15px;
  height: 75px;
  background: hsl(26, 100%, 55%);
  display: flex;
  justify-content: center;
  align-items: center;
}
button p {
  font-weight: 600;
  font-size: 18px;
  color: hsl(0, 0%, 0%);
}
button:hover {
  cursor: pointer;
}

.addToCartButton {
  gap: 15px;
  margin-bottom: 15px;
}

.topnav {
  background: hsl(0, 0%, 100%);
  display: flex;
}

.topnav a {
  color: hsl(0, 0%, 0%);
  font-weight: 600;
  font-size: 16px;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav .icon {
  display: none;
}

.topnav .close_icon {
  display: none;
}

.topnav a:hover {
  background: hsl(220, 14%, 75%);
}

/* */
.cart_popup {
  background: hsl(0, 0%, 100%);
  height: 290px;
  width: 390px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 150px;
  flex-direction: column;
  opacity: 0;
  display: none;
  transition: opacity 0.5s ease, display 0.5s ease;
  /* */
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Visible state */
.show {
  opacity: 1;
  display: flex;
}

.cart_notification {
  height: 20%;
  text-align: left;
  border-bottom: 1px solid hsl(219, 9%, 45%);
}
.cart_notification p {
  margin-top: 10px;
  margin-left: 20px;
}

.cart_body {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_body_p {
  color: hsl(219, 9%, 45%);
  display: flex;
}

.cart_oder {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
}

.checkout_order {
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* add class */
.show_popup {
  display: flex;
}

/*  hide */
.hide_popup {
  display: none;
}

.product_cart_img {
  height: 60px;
  width: 60px;
  border-radius: 5px;
}

.paragraph_cart {
  margin-left: 5px;
}

.fall_limited,
.quantity_total {
  color: hsl(219, 9%, 45%);
  font-weight: 500;
}

.totalUSD {
  color: hsl(0, 0%, 0%);
}

.order_popup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete_icon {
  height: 40px;
  width: 30px;
}
.delete_icon:hover {
  cursor: pointer;
}

.checkout_button {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide_gallery {
  display: none;
}

/* MQ */
@media screen and (max-width: 600px) {
  .topnav a {
    display: none;
  }
  .topnav img.icon {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity  */
  }
  .topnav.responsive {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 60%;
    height: 100%;
    flex-direction: column;
    animation: slide-in-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .topnav.responsive .icon {
    display: none;
  }
  .topnav.responsive .close_icon {
    display: block;
    position: absolute;
    top: 30px;
    left: 15px;
  }
  .topnav.responsive a {
    display: flex;
    text-align: left;
  }
  .collections {
    margin-top: 100px;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/* */
@media screen and (min-width: 600px) {
  .menu_section {
    flex-direction: row-reverse;
  }
  .brand_logo {
    margin-left: 25px;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    border-bottom: 1px solid hsl(219, 9%, 45%);
  }
  main {
    flex-direction: row;
    justify-content: center;
    width: 75%;
    height: 500px;
  }
  .heading {
    font-size: 48px;
  }
  .info {
    max-width: 570px;
  }
  .counter {
    width: 40%;
  }
  button {
    width: 60%;
  }
  .price_buttons {
    flex-direction: row;
    gap: 10px;
  }
  .price_container {
    flex-direction: column;
  }
  .slideshow_container {
    display: none;
  }
  .slide_gallery {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  .preview {
    height: 70%;
  }
  .preview img {
    height: 100%;
    width: auto;
    border-radius: 5px;
  }
  .thumbnails {
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .thumbnails img {
    border-radius: 5px;
    height: 80px;
    cursor: pointer;
    border: 3px solid transparent;
  }
  .thumbnails img.active {
    border-color: hsl(26, 100%, 55%);
  }
  .preview img {
    display: none;
    width: 100%;
  }
  .preview img.active {
    display: block;
  }
  .price_child_one {
    justify-content: space-between;
    width: 40%;
  }
  .price_child_two {
    justify-content: left;
  }
}

/*# sourceMappingURL=styles.css.map */
