@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
/* 
- Mobile: 375px
- Desktop: 1440px
Font size (paragraph): 16px

.kumbh-sans-<uniquifier> {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(25, 100%, 94%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

header {
  width: 100%;
}

nav {
  height: 100px;
  display: flex;
}

.nav_section {
  display: flex;
  gap: 15px;
  align-items: center;
}

.menu_section {
  width: 70%;
  justify-content: left;
}

.cart_section {
  width: 30%;
  justify-content: right;
}

.menu_icon {
  margin-left: 15px;
  height: 25px;
}

.brand_logo {
  height: 25px;
}

.icon_cart {
  height: 35px;
}

.avatar {
  height: 40px;
  margin-right: 15px;
}

/* slider */
.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow_container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

.product_img {
  width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  width: 50px;
  height: 50px;
  user-select: none;
  background: hsl(0, 0%, 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s ease;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next {
    font-size: 11px;
  }
}
/* info section */
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.title,
.heading,
.shoe_info,
.price_container,
.counter,
button {
  width: 90%;
}

.title {
  color: hsl(219, 9%, 45%);
  font-weight: 600;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.heading {
  text-align: left;
  color: hsl(0, 0%, 0%);
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 15px;
}

.shoe_info {
  text-align: left;
  line-height: 25px;
  color: hsl(219, 9%, 45%);
  margin-bottom: 15px;
}

/* */
.price_container {
  display: flex;
  height: 80px;
}

.price_child_one,
.price_child_two {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.price_child_one {
  width: 60%;
}

.price_child_two {
  width: 40%;
}

.current_price {
  color: hsl(0, 0%, 0%);
  font-weight: 600;
  font-size: 32px;
}

.discount {
  font-weight: 600;
  color: hsl(25, 100%, 94%);
  background: hsl(0, 0%, 0%);
  border-radius: 10px;
  width: 75px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price_child_two {
  color: hsl(219, 9%, 45%);
  text-decoration: line-through;
  font-weight: 600;
}

.counter {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: hsl(223, 64%, 98%);
  margin-bottom: 15px;
  border-radius: 15px;
  font-size: 24px;
  font-weight: 600;
}

button {
  border: none;
  border-radius: 15px;
  height: 80px;
  background: hsl(26, 100%, 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
button p {
  font-weight: 600;
  font-size: 18px;
  color: hsl(0, 0%, 0%);
}

/*# sourceMappingURL=styles.css.map */
